{#
/**
 * @file
 * Gavias's theme implementation to display a single Drupal page.
 */
#}
<div class="body-page">
   {% include directory ~ '/templates/header.html.twig' %}

   {% if page.breadcrumbs %}
		<div class="breadcrumbs">
			<div class="container">
				<div class="content-inner">
					{{ page.breadcrumbs }}
				</div>
			</div>
		</div>
	{% endif %}

	<div role="main" class="main main-page">

		{% if page.promotion or page.promotion_second or page.promotion_first %}

			{% set cl_promotion = 'col-lg-12 col-md-12 col-sm-12 col-xs-12' %}

			{% set cl_promotion_primary = 'col-md-12 col-xs-12' %}
			{% if page.promotion_second and page.promotion_first %}
				{% set cl_promotion_primary = 'col-xs-12 col-md-6 col-md-push-3 sb-r sb-l ' %}
			{% elseif page.promotion_second or page.promotion_first %}
				{% if page.promotion_second %}
				 	{% set cl_promotion_primary = 'col-xs-12 col-md-8 sb-r ' %}
				{% endif %}
				{% if page.promotion_first %}
					{% set cl_promotion_primary = 'col-xs-12 col-md-8 col-md-push-4 sb-l ' %}
				{% endif %}
         {% endif %}

			<div class="promotion area">
				<div class="container">

					<div class="area-inner">
						<div class="row">
							<div class="promotion-primary {{ cl_promotion_primary }}">
								{{ page.promotion }}
							</div>

							{% if page.promotion_first %}
								{% set cl_promotion_first = 'col-md-4 col-md-pull-8 col-sm-12 col-xs-12' %}
								{%	if page.promotion_second %}
								 	{% set cl_promotion_first = 'col-md-3 col-md-pull-6 col-sm-12 col-xs-12' %}
								{% endif %}
								<div class="promotion-first {{ cl_promotion_first }}">
									{{ page.promotion_first }}
								</div>
							{% endif %}

							{% if page.promotion_second %}
								{% set cl_promotion_second = 'col-md-4 col-sm-12 col-xs-12' %}
								{%	if page.promotion_first %}
								 	{% set cl_promotion_second = 'col-md-3 col-sm-12 col-xs-12' %}
								{% endif %}
								<div class="promotion-second {{ cl_promotion_second }}">
									{{ page.promotion_second }}
								</div>
							{% endif %}

						</div>
					</div>

				</div>
			</div>
		{% endif %}

		<div class="clearfix"></div>
		{% if page.before_content %}
			<div class="before_content area">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							{{ page.before_content }}
							</div>
					</div>
				</div>
			</div>
		{% endif %}
	<div class="clearfix"></div>
		<div id="content" class="content content-full">
			<div class="container">
				<div class="content-main-inner">
					<div class="row">

						{% set cl_main = 'col-md-12 col-xs-12' %}
						{% if page.sidebar_right and page.sidebar_left %}
							{% set cl_main = 'col-xs-12 col-md-6 col-md-push-3 sb-r sb-l ' %}
						{% elseif page.sidebar_right or page.sidebar_left %}
							{% if page.sidebar_right %}
							 	{% set cl_main = 'col-xs-12 col-md-8 sb-r ' %}
							{% endif %}
							{% if page.sidebar_left %}
								{% set cl_main = 'col-xs-12 col-md-8 col-md-push-4 sb-l ' %}
							{% endif %}
                  {% endif %}

						<div id="page-main-content" class="main-content {{ cl_main }}">

							<div class="main-content-inner">

								{% if page.content_top %}
									<div class="content-top">
										{{ page.content_top }}
									</div>
								{% endif %}

								{% if page.content %}
									<div class="content-main">
										{{ page.content }}
									</div>
								{% endif %}
								
								{% if page.content_bottom %}
									<div class="content-bottom">
										{{ page.content_bottom }}
									</div>
								{% endif %}
							</div>
						</div>

						<!-- Sidebar Left -->
						{% if page.sidebar_left %}

							{% set cl_left = 'col-md-4 col-md-pull-8 col-sm-12 col-xs-12' %}
							{%	if page.sidebar_right %}
							 	{% set cl_left = 'col-md-3 col-md-pull-6 col-sm-12 col-xs-12' %}
							{% endif %}

							<div class="{{ cl_left }} sidebar sidebar-left">
								<div class="sidebar-inner">
									{{ page.sidebar_left }}
								</div>
							</div>
						{% endif %}
						<!-- End Sidebar Left -->

						<!-- Sidebar Right -->
						{% if page.sidebar_right %}

							{% set cl_right = 'col-lg-4 col-md-4 col-sm-12 col-xs-12'  %}
							{% if page.sidebar_left %}
								{% set cl_right = 'col-lg-3 col-md-3 col-sm-12 col-xs-12' %}
							{% endif %}

							<div class="{{ cl_right }} sidebar sidebar-right theiaStickySidebar">
								<div class="sidebar-inner">
									{{ page.sidebar_right }}
								</div>
							</div>
						{% endif %}
						<!-- End Sidebar Right -->

					</div>
				</div>
			</div>
		</div>

		{% if page.highlighted %}
			<div class="highlighted area">
				<div class="container">
					{{ page.highlighted }}
				</div>
			</div>
		{% endif %}

		{% if page.after_content %}
			<div class="area after_content">
				<div class="container-fw">
	          	<div class="content-inner">
						 {{ page.after_content }}
	          	</div>
        		</div>
			</div>
		{% endif %}

		{% if page.before_panel %}
			<div class="area before-panel">
				<div class="container">
	          	<div class="content-inner">
						 {{ page.before_panel }}
	          	</div>
        		</div>
			</div>
		{% endif %}


		{% if page.panel_first or panel_second or panel_third or panel_four %}
			{% set cl_panel = 'col-lg-3 col-md-3 col-sm-3 col-xs-3' %}
			{% set nub_panel = 0  %}
			{% if page.panel_first %}
				{% set nub_panel = nub_panel + 1  %}
			{% endif %}
			{% if page.panel_second %}
				{% set nub_panel = nub_panel + 1  %}
			{% endif %}
			{% if page.panel_third %}
				{% set nub_panel = nub_panel + 1  %}
			{% endif %}
			{% if page.panel_four %}
				{% set nub_panel = nub_panel + 1  %}
			{% endif %}
			{% if nub_panel == '1' %}
			   {% set cl_panel = 'col-lg-12 col-md-12 col-sm-12 col-xs-12' %}
			{% elseif nub_panel == '2' %}
			   {% set cl_panel = 'col-lg-6 col-md-6 col-sm-6 col-xs-12' %}
			{% elseif nub_panel == '3' %}
			   {% set cl_panel = 'col-lg-4 col-md-4 col-sm-4 col-xs-12' %}
			{% elseif nub_panel == '4' %}
			   {% set cl_panel = 'col-lg-3 col-md-3 col-sm-6 col-xs-12' %}
			{% endif %}

			<div class="area area-panel">
				<div class="container">
					<div class="row">
						{% if page.panel_first %}
							<div class="panel_first {{ cl_panel }}">
								<div class="panel-inner">
									{{ page.panel_first }}
								</div>
							</div>
						{% endif %}
						{% if page.panel_second %}
							<div class="panel_second {{ cl_panel }}">
								<div class="panel-inner">
									{{ page.panel_second }}
								</div>
							</div>
						{% endif %}
						{% if page.panel_third %}
							<div class="panel_third {{ cl_panel }}">
								<div class="panel-inner">
									{{ page.panel_third }}
								</div>
							</div>
						{% endif %}
						{% if page.panel_four %}
							<div class="panel_four {{ cl_panel }}">
								<div class="panel-inner">
									{{ page.panel_four }}
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}

		{% if page.after_panel %}
			<div class="area after-panel">
				<div class="container">
	          	<div class="content-inner">
						 {{ page.after_panel }}
	          	</div>
        		</div>
			</div>
		{% endif %}

	</div>

	{% include directory ~ '/templates/footer.html.twig' %}

</div>
